SQL_HOST=your_sql_host_here
SQL_USER=your_sql_user_here
SQL_PASS=your_sql_password_here
SQL_DB=your_sql_db_name_here
SQL_PORT=your_sql_port_here
MONGO_URI=your_mongo_uri_here
REDIS_BASE_URL=your_redis_base_url_here
REDIS_TOKEN=your_redis_token_here
